<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小小购物</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/header.js}"></script>
</head>
<body th:fragment="header">
<div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/shopping/main}">小小购物</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav" style="margin-top: 15px">
            <!–匿名–>
            <a sec:authorize="isAnonymous()">
                <a th:href="@{/users/login}">登录</a>
                <a th:href="@{/users/register}" methods="post">注册</a>
            </a>
            <!–登录–>
            <span sec:authorize="isAuthenticated()">
                <span>欢迎您：<span sec:authentication="principal.username"></span></span>
                <span>您的Id为：<span id="userId"></span></span>
                    <span><a href="/shoppingCar/" id="shoppingCar">购物车</a></span>
                    <span><a th:href="@{/users/amend_info}">个人资料修改</a></span>
                    <span><a th:href="@{/shopping/shopping_record}">订单状态</a></span>
                <span sec:authorize="hasAuthority('admin')">
                    <span><a th:href="@{/control}" methods="post">控制台</a></span>
                    <span><a th:href="@{/shopping/shopping_handle}">处理订单</a></span>
                </span>
                <span><a th:href="@{/logout}">注销登录</a></span>
            </span>
            </ul>

            <form class="navbar-form navbar-right" th:action="@{/shopping/search}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索商品" name="productName"/>
                </div>
                <button class="btn btn-default" type="submit">查找商品</button>
            </form>
        </div>
    </div>
</nav>
    <!--<script th:src="@{/js/login.js}"></script>-->
</div>
</body>
</html>