<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>管理员控制后台</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!--<script th:inline="javascript">-->
        <!--function selectCategory(obj) {-->
            <!--var name = $(obj).attr("name");-->
            <!--var catId = $(obj).attr("abbr");-->
            <!--$("#categoryBtn").html(name);-->
            <!--$("#category-input").val(catId);-->
        <!--}-->
    <!--</script>-->
</head>
<body>
<div th:include="/common/header :: header"></div>
<!-- 中间内容 -->
<div class="container-fluid">
    <div class="row">
        <!-- 控制栏 -->
        <div class="col-sm-3 col-md-2 sidebar sidebar-1">
            <ul class="nav nav-sidebar">
                <li class="list-group-item-diy"><a href="#section1">查看所有用户<span class="sr-only">(current)</span></a></li>
                <li class="list-group-item-diy"><a href="#section2">查看所有商品</a></li>
                <li class="list-group-item-diy"><a href="#section3">添加商品</a></li>
                <li class="list-group-item-diy"><a href="#section4">商品分类管理</a></li>
            </ul>
        </div>
        <!-- 控制内容 -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 control-main-container">
            <div class="col-md-12" style="margin-top: -200px">
                <h1><a name="section1">用户信息</a></h1>
                <hr/>
                <table class="table table-hover center" id="userTable">
                    <tr class="info">
                        <!--<td>用户ID</td>-->
                        <td>用户名</td>
                        <td>邮箱</td>
                        <td>用户权限</td>
                        <td>注册时间</td>
                        <td>性别</td>
                        <td style="text-align: center" colspan="2">操作</td>
                    </tr>
                    <tr th:each="user: ${users}">
                        <!--<td th:text="${user.id}"></td>-->
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.getAuthorities()}"></td>
                        <td th:text="${user.registerTime}"></td>
                        <td th:text="${user.sex}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/users/delete/'+${user.id}}" onclick="return delete_confirm()">删除</a></td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12">
                <hr/>
                <h1><a name="section2">商品信息</a></h1>
                <hr/>
                <div class="col-md-4" th:each="product:${products}" style="text-align: center">
                    <p><img th:src="${product.imageUrl}" th:width="160" th:height="280"></p>
                    <p th:text="${product.productName}"></p>
                    <p>库存：<span th:text="${product.productStock}  "></span><a class="btn btn-primary" th:href="@{'/shopping/delete/'+${product.productId}}" onclick="return delete_confirm()">删除商品</a>价格：<span th:text="${product.price}"></span></p>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-sm-12" id="productArea"></div>-->
                <br/>
            </div>

            <div class="col-md-12">
                <hr/>
                <form th:action="@{/shopping/save}" method="post" th:object="${product}">
                <h1><a name="section3">添加商品</a></h1>
                <hr/>
                <div class="col-sm-offset-2 col-md-offest-2">
                    <!-- 表单输入 -->
                    <div  class="form-horizontal">
                        <div class="form-group">
                            <label for="productName" class="col-sm-2 col-md-2 control-label">商品名称</label>
                            <div class="col-sm-6 col-md-6">
                                <input type="text" class="form-control" id="productName" placeholder="手机" name="productName" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productDescribe" class="col-sm-2 col-md-2 control-label">商品描述</label>
                            <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" id="productDescribe" placeholder="全面屏" name="desc" required="required"/>
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="productPrice" class="col-sm-2 col-md-2 control-label">商品价格</label>
                            <div class="col-sm-6 col-md-6">
                                <input type="text" class="form-control" id="productPrice" placeholder="3999" name="price" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productCount" class="col-sm-2 col-md-2 control-label">商品数量</label>
                            <div class="col-sm-6 col-md-6">
                                <input type="text" class="form-control" id="productCount" placeholder="100" name="productStock" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category" class="col-sm-2 col-md-2 control-label">商品类别</label>
                            <div class="col-sm-6 col-md-6">
                                <select name="category" class="form-control" id="category">
                                    <option th:each="category:${categories}"  th:text=" ${category.categoryName}" name="category" th:value="${category.categoryName}"></option>
                                    <!--</li>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="productImg" class="col-sm-2 col-md-2 control-label" accept="image/jpg">商品图片</label>
                            <div class="col-sm-6 col-md-6">
                                <input type="text" class="form-control" id="productImg" placeholder="请输入商品图片链接" name="imageUrl" required="required"/>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6" id="imgPreSee">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <p style="color: red" th:text="${msg}"></p>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" id="addProduct">添加商品</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
                </div>

            <div class="col-md-12">
                <hr/>
                <h1><a name="section4">商品分类管理</a></h1>
                <hr/>
                <table class="table table-hover center" id="catTable">
                    <tr class="info">
                        <td>分类ID</td>
                        <td>分类名称</td>
                        <td>编辑时间</td>
                        <td style="text-align: center" colspan="2">操作</td>
                    </tr>
                    <tr th:each="category: ${categories}">
                        <!--<td th:text="${user.id}"></td>-->
                        <td th:text="${category.categoryId}"></td>
                        <td th:text="${category.categoryName}"></td>
                        <td th:text="${category.createTime}"></td>
                        <td><a class="btn btn-primary" th:href="@{'/category/delete/'+${category.categoryId}}" onclick="return delete_confirm()">删除</a></td>
                    </tr>
                </table>
                <hr/>
                <h3>添加商品分类</h3>
                <hr/>
                <div class="form-group">
                    <label for="productCat" class="col-sm-2 col-md-2 control-label">分类名称</label>
                    <div class="col-sm-6 col-md-6">
                        <input type="text" class="form-control" id="productCat" placeholder="生活用品" name="productCat" required="required"/>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-2" style="float: right">
                        <a class="btn btn-primary btn-block" type="submit" id="addCat">添加商品分类</a>
                    </div>
                </div>
                <br>
            </div>
            </div>
        </div>
    <br>

    </div>
<script>
    function delete_confirm() {
        var msg = "您确定要删除吗？";
        if (confirm(msg)==true){
            return true;
        }else{
            return false;
        }
    }
</script>
<script th:src="@{/js/control.js}"></script>
</body>
</html>