<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script th:src="@{/js/layer.js}"></script>-->
</head>
<body>
<div class="container">
<div th:include="/common/header :: header"></div>
    <!--<form th:action="@{/order/new}" method="post" th:object="${product}">-->
    <div class="row control-main-container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 th:text="${product.productName}"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img th:src="${product.imageUrl}" th:width="360" th:height="360">
        </div>
        <div class="col-md-5 detail-x">
            <table class="table table-striped">
                <tr>
                    <th>商品编号</th>
                    <td id="productId" th:text="${product.productId}"></td>
                </tr>
                <tr>
                    <th>商品名称</th>
                    <td th:text="${product.productName}" id="productName"></td>
                </tr>
                <tr>
                    <th>商品价格</th>
                    <td th:text="${product.price}" id="price"></td>
                </tr>
                <tr>
                    <th>商品描述</th>
                    <td th:text="${product.desc}"></td>
                </tr>
                <tr>
                    <th>商品种类</th>
                    <td th:text="${product.getCategoryId().getCategoryName()}"></td>
                </tr>
                <tr>
                    <th>商品库存</th>
                    <td th:text="${product.productStock}" id="stock"></td>
                </tr>
                <tr>
                    <th>购买数量</th>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" id="subCounts">-</button>
                            <input id="productCounts" type="button" class="btn btn-default" value="1">
                            <button type="button" class="btn btn-default" id="addCounts">+</button>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <button class="btn btn-danger btn-lg col-sm-4 col-md-4 col-lg-4" id="addShoppingCar">添加购物车</button>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <button  class="btn btn-danger btn-lg col-sm-4 col-md-4 col-lg-4" id="buy">购买</button>

            </div>
        </div>
    </div>
    <!--</form>-->
</div>
<script th:src="@{/js/productinfo.js}"></script>
</body>
</html>