<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>小小购物</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link th:href="@{css/bootstrap-theme.css}" rel="stylesheet"/>-->
    <link th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
<!--<div th:include="/common/header :: header"></div>-->
<!-- 中间内容 -->
<div class="center-block">
<form th:action="@{/users/doRegister}" method="post" th:object="${user}" onsubmit="return fun1()">
    <center><h2 class="title center">注册</h2>
    <br/>
    <p style="color: red" th:text="${msg}" th:if="${ not #strings.isEmpty(msg)}"></p></center>
    <div class="col-sm-offset-2 col-md-offest-2">
        <!-- 表单输入 -->
        <div  class="form-horizontal">
            <div class="form-group">
                <label for="inputUserName" class="col-sm-2 col-md-2 control-label">用户名</label>
                <div class="col-sm-6 col-md-6">
                    <input type="text" class="form-control" id="inputUserName" placeholder="请输入用户名" name="username" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 col-md-2 control-label">邮箱</label>
                <div class="col-sm-6 col-md-6">
                    <input type="email" class="form-control" id="inputEmail" placeholder="请输入正确的邮箱格式" name="email"/>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="inputNickname" class="col-sm-2 col-md-2 control-label">昵称</label>-->
                <!--<div class="col-sm-6 col-md-6">-->
                    <!--<input type="text" class="form-control" id="inputNickname" placeholder="高帅富" />-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 col-md-2 control-label">密码</label>
                <div class="col-sm-6 col-md-6">
                    <input type="password" class="form-control" id="inputPassword" placeholder="禁止输入非法字符" name="password" required="required"/>
                </div>
            </div>
            <div class="radio form-group">
                <label for="man" class="col-sm-2 col-md-2 control-label">性别</label>
                <div class="col-sm-6 col-md-6">
                    <label class="radio-inline">
                        <input type="radio" id="man" value="男" name="sex"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" id="woman" value="女" name="sex"> 女
                    </label>
                </div>
            </div>
            <br>
            <!--<div>-->
                <!--<label for="birthday" class="col-sm-2 col-md-2 control-label">出生日期</label>-->
                <!--<div class="col-sm-6 col-md-6">-->
                    <!--<input type="text" class="form-control" id="birthday" placeholder="请输入出生日期" />-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
                </div>
            </div>
        </div>
        <br/>
    </div>
</form>
    </div>
</div>
</body>
<script>
    function isEmail(str) {
        var reg = /^\w+@[a-zA-Z0-9]{2,10}(?:\.[a-z]{2,4}){1,3}$/;
        return reg.test(str);
    }
    function fun1() {
        if (!isEmail(document.getElementById("inputEmail").value)) {
            alert("邮箱格式不正确！");
            document.getElementById("inputEmail").focus();
            return false;
        }
        return true;
    }
</script>
</html>