<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小小购物</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="/common/header :: header"></div>
<div class="container-fluid bigHead">
    <div class="row">
        <div class="col-sm-10  col-md-10 col-sm-offset-1 col-md-offset-1" style="margin-top: 45px">
            <div class="jumbotron">
                <h1>欢迎来到购物车</h1>
                <p>您的购物车清单为</p>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 control-main-container">
            <table class="table table-hover center" id="shoppingcar">
                <tr class="info">
                    <td style="display: none">Id</td>
                    <td style="display: none">商品编号</td>
                    <td>是否购买</td>
                    <td>商品名称</td>
                    <td>商品单价</td>
                    <td>商品数量</td>
                    <td style="text-align: center" colspan="2">操作</td>
                </tr>
                <tr th:each="shoppingCar: ${shoppingCars}">
                    <td><input type="checkbox" id="check"></td>
                    <td th:text="${shoppingCar.id}" style="display: none"></td>
                    <td th:text="${shoppingCar.productId}" style="display: none" id="productId"></td>
                    <td th:text="${shoppingCar.productName}" id="productName"></td>
                    <td th:text="${shoppingCar.productPrice}" id="price"></td>
                    <td th:text="${shoppingCar.counts}" id="productCounts"></td>
                    <td><a class="btn btn-primary" th:href="@{'/shoppingCar/delete?id='+${shoppingCar.id}}" onclick="return delete_confirm()">删除</a></td>
                </tr>
            </table>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <button type="button" class="btn btn-danger btn-lg col-lg-4 col-md-4 col-sm-4" id="buy">确认购买</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/shoppingCar.js}"></script>
<script>
    function delete_confirm() {
        var msg = "您确定要删除吗？";
        if (confirm(msg)==true){
            return true;
        }else{
            return false;
        }
    }
</script>
</body>
</html>